* {
    margin: 0;
    padding: 0;
}
.app {
    background-color: skyblue;
    padding: 50px;
}
.grandpa {
    background-color: slateblue;
    padding: 50px;
}
.father {
    background-color: rgba(108, 235, 136, 0.637);
    padding: 50px;
}
.son {
    background-color: rgba(214, 45, 96, 0.637);
    padding: 50px;
}