* {
    margin: 0;
    padding: 0;
}
.github-demo {
    width: 500px;
    margin: 200px 200px;
    background-color: grey;
    border: 1px solid red;
}
.left {
    display: flex;
    flex-direction:column;
}